@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --lightRed: hsl(356, 100%, 66%);
    --veryLightRed: hsl(355, 100%, 74%);
    --veryDarkBlue: hsl(208, 49%, 24%); /*headings*/

    --grayishBlue: hsl(240, 2%, 79%); /*footer txt*/
    --veryDarkGrayishBlue: hsl(207, 13%, 34%); /*body copy*/
    --veryDarkBlackBlue: hsl(240, 10%, 16%); /*footer background*/

    /* background: linear-gradient(to top, hsl(353, 100%, 62%), hsl(13, 100%, 72%)); */
    /* background: linear-gradient(to top, hsl(237, 17%, 21%), hsl(237, 23%, 32%)); */
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x :hidden;
}

body{
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
}




/* nav */




a {
    display: none;
    text-decoration: none;
    color: white;
}

.dropdown, .auth{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5%;
    padding-top: 50px;
    padding-bottom: 0;
    width: 85%;
}

.hamburgerContainer{
    position: relative;
    max-height: 25px;
}

.hamburger {
    
    cursor: pointer;
}

.hidden {
    display: none;
    cursor: pointer;
}

.dropdown{
    position: absolute;
}

.dropdownButton {
    background: none;
	color: black;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--veryDarkBlue);
    padding: 15px;

    width: 100%;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    background-color: white;
    max-width: 400px;
    max-height: fit-content;
    width: 85%;
    box-shadow: 0px 10px 20px 2px #00000031;
    border-radius: 8px;
    padding: 30px 0px;
    z-index: 1;
    
    transform: translate(-50%, 0%);
}

.showA a{
    display: block;
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: hsl(207, 32%, 36%);
    padding: 8px;
}

.links {
    display: none;
}

.showA{
    display: block;
    background-color: hsl(207, 23%, 92%);
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    border-radius: 8px;
}
.show {
    display: block;
}

.show .auth{
    display: block;
}

#logo {
    height: 30px;
}

.seperator {
    width: 90%;
    border: none;
    border-top: 1px solid rgb(214, 214, 214);
}

.pillButton {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 500;
    background-color: none;
    background: none;
    color: var(--veryDarkBlue);
    border-style: none;
    border-radius: 500px;
    padding: 12px 0px;
    width: 130px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;

    /* outline: white solid 2px;
    outline-offset: -1px; */

    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;

    box-shadow: 0 0 0 1px rgb(255, 255, 255);
}

.auth {
    margin-top: 10px;
}

#signUp{
    background: linear-gradient(315deg, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    color: white;
}


/* header */




.intro {
    background-image: url(images/bg-pattern-intro-mobile.svg), linear-gradient(315deg, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -330px -250px, center;
    color: white;
    border-radius: 0px 0px 0px 100px;
}

header {
    text-align: center;
    padding: 120px 7.5%;
    font-family: 'Overpass', sans-serif;
    padding-bottom: 140px;
    margin-bottom: 120px;
}

h1 {
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 34px;
}

h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 200;
    margin: 15px;
}

.headerButton{
    margin: 8px 8px;
}

#startButton {
    background-color: white;
    color: black;
    mix-blend-mode: lighten;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.185);
}

#startButton:hover {
    background-color: rgba(255, 255, 255, 0.185);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.185);
    color: white;
    mix-blend-mode: normal;
    outline-offset: 0;
}

#learnMoreButton {
    background-color: black;
    color: white;
    mix-blend-mode: lighten;
    font-size: 3;
}

#learnMoreButton:hover {
    background-color: white;
    color: black;
    mix-blend-mode: lighten;
    outline-color: white;
}

@media screen and (max-width: 500px) {
    h1 span {
        display: block;
    }
}




/* body */




.main {
    margin: 120px 7.5%;
    margin-top: 0;
}

h3, h4 {
    color: var(--veryDarkBlue);
}

h3, h4 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 0;
}

h4 {
    padding: 0px 20px;
    margin: 10px 0px;
}

p {
    text-align: center;
    color:var(--veryDarkGrayishBlue);
    letter-spacing: 0.5px;
    line-height: 27px;
    margin-bottom: 40px;
}

.mainImg {
    width: 107vw;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0px;
    max-width: 500px;
}

#blueMain {
    background: linear-gradient(to right bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0px 100px;
    margin-top: 300px;
    margin-bottom: 0;
}

#blueMain p.blueP, h4.blue {
    color: white;
}

.blue {
    font-size: 38px;
    padding: 0;
}

.blueP {
    padding-bottom: 120px;
}

.textBlue {
    margin: 0 7.5%;
}

#imgBlue {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -230px;
}

#laptopImg{
    width: 140vw;
}




/* footer */





footer {
    background-color: var(--veryDarkBlackBlue);
    color: white;
    padding: 60px;
    display: grid;
    justify-content: center;
    border-radius: 0 100px 0 0;
}

h5 {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    margin-top: 40px;
}

footer a {
    text-align: center;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    color: var(--grayishBlue);
    font-size: 18;
    padding: 4px;
}

#logoFooter {
   margin: auto;
}


/* responsive maken van alles */



@media screen and (min-width: 870px) {
    .hamburger {
        display: none;
    }

    .auth {
        display: block;
        margin: 8px;
        box-shadow: initial;
        color: white;
    }

    #signUp{
        background-color: white;
    }



    .dropdownButton button{
        display: block;
        position: initial;
    }


    .dropdownContent{
        position: initial;
        top: initial;
        left: initial;
        max-width: none;
        height: none;
        border-radius: 0;
        padding: initial;
        z-index: initial;
        background: none;
        box-shadow: none;
        transform: initial;
        margin: 0 20px;

        display:flex;
        justify-content: space-between;
        width: 98%;
    }

    .seperator {
        display: none;
    }

    .linksContainer {
        display: flex;
        font-size: 1rem;
    }

    .authContainer {
        display: flex;
    }

    .dropdownButton {
        width: inherit;
        font-size: 1rem;
        color: white;
        font-weight: 300;
        margin: 0px 10px;
    }


    #dropdown{
        width: 100%;
    }
}
